/* .container {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    padding-bottom: 48px;
  }

  .sub-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  margin-top: 50px;
    height: 2500px;
  }
  
  .section-title {
    font-weight: bold;
    font-size: 2xl;
    display: flex;
    justify-content: center;
  }
  
  .img-container {
    display: flex;
    justify-content: space-between;
    height: 150px;
    position: relative;
  }
 
  .img-container-two{
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin-top: 200px;
    position: relative;
  }
  
  
 
  .img-title {
    position: absolute;
    padding: 3px;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }
  
  .img-desc {
    padding: 3px;
    font-size: small;
    font-style: italic;
  }
  
  .img-date {
    padding: 3px;
    font-size: small;
    color: red;
    font-weight: bold;
  }
  
  .img-company {
    padding: 1px;
    background-color: white;
    font-size: small;
    font-weight: bold;
    width: fit-content;
    border-radius: 4px;
  }



  .line-container {
    width: 10%;
    display: flex;
    justify-content: center;
    height: 200px;
    margin-top: 50px;
  }


  
  .line {
    width: 5px;
    height: 100%;
    background-color: gray;
    border-radius: 4px;
    position: relative;
  }

  .line2 {
    width: 5px;
    height: 100%;
    background-color: gray;
    border-radius: 4px;
    position: relative;
    margin-top: 200px;
    left: -5px;
    
  }
  .line3 {
    width: 5px;
    height: 100%;
    background-color: gray;
    border-radius: 4px;
    position: relative;
    margin-top: 400px;
    left: -10px;
  }


  .line4 {
    width: 5px;
    height: 100%;
    background-color: gray;
    border-radius: 4px;
    position: relative;
    margin-top: 600px;
    left: -15px;
  }

  .line5 {
    width: 5px;
    height: 100%;
    background-color: gray;
    border-radius: 4px;
    position: relative;
    margin-top: 800px;
    left: -20px;
  }

  .line6 {
    width: 5px;
    height: 100%;
    background-color: gray;
    border-radius: 4px;
    position: relative;
    margin-top: 1000px;
    left: -25px;
  }

  .line7 {
    width: 5px;
    height: 100%;
    background-color: gray;
    border-radius: 4px;
    position: relative;
    margin-top: 1200px;
    left: -30px;
  }

  .line8 {
    width: 5px;
    height: 100%;
    background-color: gray;
    border-radius: 4px;
    position: relative;
    margin-top: 1400px;
    left: -35px;
  }

  .line9 {
    width: 5px;
    height: 100%;
    background-color: gray;
    border-radius: 4px;
    position: relative;
    margin-top: 1600px;
    left: -40px;
  }

  .line10 {
    width: 5px;
    height: 100%;
    background-color: gray;
    border-radius: 4px;
    position: relative;
    margin-top: 1800px;
    left: -45px;
  }

  .line11 {
    width: 5px;
    height: 100%;
    background-color: gray;
    border-radius: 4px;
    position: relative;
    margin-top: 2000px;
    left: -50px;
  }

  .line12 {
    width: 5px;
    height: 100%;
    background-color: gray;
    border-radius: 4px;
    position: relative;
    margin-top: 2200px;
    left: -55px;
  }

  .line-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid red;
    background-color: white;
    position: absolute;
    left: -7px;
  }
   */



   /* body {
    background: #3da3d5;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: rgb(53, 53, 53);
  }
   */
  /* .title {
    font-size: 15em;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
  }
  
  h3 {
    padding-top: 0.25em;
  }
   */
  
   .timeline-container{
    padding: 20px;
   }
   .vertical-timeline-element-content {
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
      0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
    padding: 2em 3em !important;
  }

  
  .button {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: white;
  }
  
  .workButton {
    background-color: #06d6a0;
  }
  
  .workButton:hover {
    background-color: #0ac593;
  }
  
  .schoolButton {
    background-color: #f9c74f;
  }
  
  .schoolButton:hover {
    background-color: #f3bc3c;
  }
  
  @media only screen and (max-width: 1700px) {
    .vertical-timeline-element-date {
      display: block !important;
      float: none !important;
      color: rgb(44, 44, 44);
      margin-top: 1.5em;
    }
  }
  