/* For Desktop */

.resolution-cont {
}

.resolution-sub-cont {
  margin: 20px 60px 20px 60px;
  text-align: center;
}

.resolution-card {
  width: 350px;
  height: 150px;
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.reso-card-p-p {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.resolution-card-parent {
  padding: 20px 0 20px 0;
  width: 45%;
  display: flex;
  justify-content: center;
}

/* For mobile */
@media only screen and (max-width: 767px) {
  .resolution-sub-cont {
    margin: 20px 20px 20px 20px;
  }

  .resolution-card-parent {
    width: 90% !important;
  }
}
