@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

/* .gallery-main-div {
  width: 30%;
  height: 200px;
  display: flex;
  gap: 5px;
  grid-column: 5;
}

.gallery-main-div img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid white;
  transition: all ease 0.3s;
}

.gallery-main-div img:hover {
  width: 100%;
  cursor: pointer;
}

.gallery-main-parent {
} */

.gallery-main-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid white;
  transition: all ease 0.3s;
}

.gallery-main-div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin: 0 auto;
  position: relative;
}

.gallery-main-parent {
  padding-left: 20px;
  padding-right: 20px;
}

.gallery-main-div img:hover {
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(1.5);
  transition: 1s ease;
}

.footer-adroid-parent {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}
.footer-adroid-parent li {
  margin-right: 2rem;
  transition: all 0.3s;
}
.footer-adroid-parent li:hover {
  transform: scale(1.1);
}

.carousel-text {
  overflow: hidden;
}

.update-main-div {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: red; */
  text-align: center;
  padding: 2rem;
  column-gap: 2rem;
}

.update-main-div h3 {
  color: white;
}

.update-innerdivs {
  /* background-color: orangered; */
  /* width: 190px;
  height: 254px; */
  border-radius: 30px;
  background: rgb(194, 95, 4);
  box-shadow: 5px 5px 10px rgb(110, 87, 87), -5px -5px 10px rgb(110, 87, 87);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.update-innerdivs:hover {
  background: rgb(224, 101, 56);
  box-shadow: 5px 5px 10px rgb(233, 43, 43), -5px -5px 10px rgb(233, 43, 43);
}

.update-alram-ico {
  position: relative;
  top: 3px;
}

/* .update-latest-update {
  background-color: orangered;
}

.update-upcoming-fest{
  background-color: orangered;
}
 */
.update-daily-prog {
}

.update-card {
  position: relative;
  width: 350px;
  height: 250px;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 8px #bebebe, -2px -2px 8px #ffffff;
}

.update-bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 340px;
  height: 240px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;
}

.update-blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 150px;
  border-radius: 50%;
  background-color: greenyellow;
  opacity: 1;
  filter: blur(10px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

.update-scrolling-container {
  height: 240px;
  width: 340px;
  overflow: hidden;
  border: 1px solid #ccc; /* Optional: border for visualization */
}

.update-content {
  animation: scroll 10s linear infinite; /* Adjust duration as needed */
  /* height: 240px; */
}

.update-content-daily {
  animation: scroll-update-daily 20s linear infinite; /* Adjust duration as needed */
  /* height: 240px; */
}

@keyframes scroll {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes scroll-update-daily {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.update-content:hover {
  animation-play-state: paused;
}

.update-content-daily:hover {
  animation-play-state: paused;
}

.update-content p {
  margin: 10px;
}

.update-content a {
  text-decoration: none;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.update-upcoming-fest {
  font-weight: 500;
}

.update-main-innerdiv {
  /* display: flex; */

  /* width: 100%; */
  display: grid;
  position: relative;
  grid-template-columns: 1fr 3fr;
}

.update-daily-timediv {
  width: 70px;
  border-right: 1px solid black;
}

/* @media screen and (min-width:1024px) {
  
}
@media only screen and (max-width: 767px) {

} */










.social-a-tag {
  text-decoration: none;
}

.carousel-a-tag {
  text-decoration: none !important;
}

:root {
  --timing: 265ms;
  --iconColor: #00b5f5;
  --accent: red;
  --bluefade: #0043e0;
  --gradient: #00b5f5;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
  display: flex;
}

.social-icons li {
  display: flex;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
  align-items: center;
}

.social-icons i {
  /* color: #fff; */
  position: absolute;
  top: 12px;
  left: 12px;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}


.social-icons a:before {
  content: " ";
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  /* background: linear-gradient(45deg, var(--iconColor), var(--accent)); */
  background-color: white;
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

#footer-insta-ico-a i{
  color: #da214f;
}

#footer-insta-ico-a:hover i{
  transform: scale(2.2);
  background: -webkit-linear-gradient(45deg,#da214f, #da214f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

#footer-twit-ico-a i{
color: #192fda;
}
#footer-twit-ico-a:hover i{
  transform: scale(2.2);
  background: -webkit-linear-gradient(45deg,#192fda, #192fda);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}
#footer-face-ico-a i{
color: blue;
}
#footer-face-ico-a:hover i{
  transform: scale(2.2);
  background: -webkit-linear-gradient(45deg,blue, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

#footer-youtube-ico-a i{
color: #da1919;
}

#footer-youtube-ico-a:hover i{
  transform: scale(2.2);
  background: -webkit-linear-gradient(45deg,#da1919, #da1919);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

.white-image {
  filter: invert(80%);
}
.about-path{
  height: 50px;
display: flex;
align-items: center;
}